@font-face {
    font-family: 'Poppins';
    src: url('../font/poppins/Poppins-Bold.ttf');
    font-weight: bold;
}

.form {
    -fx-background-color: #fff;
}

.payment-box {
    -fx-background-color:#fff;
    -fx-border-width: 0 0 1.2 0px;
    -fx-border-color: #d8d8d8;
}

.payment-box:hover {
    -fx-cursor: hand;
    -fx-background-color: #E2EFDD;
}

.payment-box-price-lbl {
    -fx-font-family: 'Poppins';
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}

.payment-box-textfield {
    -fx-border-color: transparent;
    -fx-background-color: transparent;
    -fx-font-family: 'Poppins';
    -fx-font-size: 22px;
    -fx-font-weight: bold;
}



.text-lbl {
    -fx-font-family: 'Poppins';
    -fx-font-weight:bold;
    -fx-font-size: 18px;
}

.btn-payment {
    -fx-font-family: 'Poppins';
    -fx-background-color: #194775;
    -fx-font-size: 18px;
    -fx-text-fill: #fff;
}

.btn-payment:hover {
    -fx-cursor: hand;
    -fx-background-color: #14385D;
}

.price-lbl {
    -fx-font-family: 'Poppins';
    -fx-font-weight: bold;
    -fx-font-size: 32px;
}

.price-amount-lbl {
    -fx-font-family: 'Poppins';
    -fx-font-weight: bold;
    -fx-font-size: 40px;
}

.total-price-lbl {
    -fx-font-family: 'Poppins';
    -fx-font-weight: bold;
    -fx-font-size: 18px;
    -fx-text-fill: #999999;
}


.receive-price-lbl {

}


.total-amount-box {
    -fx-border-width: 0 0 5 0px;
    -fx-border-color: linear-gradient(to bottom right, #00d4ff, #9700ff);
}

.amount {
    -fx-font-family: 'Poppins';
    -fx-font-size: 26px;
}

.desconto-field {
    -fx-font-family: 'Poppins';
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-background-color: #E2E2E2;
    -fx-background-radius: 10px;
    -fx-border-radius: 15px;
}

.discount-monetary-lbl {
    -fx-font-family: 'Poppins';
    -fx-font-weight: bold;
    -fx-font-size: 18px;
    -fx-text-fill: #191919;
}

.receive-price-lbl {
    -fx-font-family: 'Poppins';
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: #198c19;
}

.change-price-lbl {
    -fx-font-family: 'Poppins';
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: #1919ff;
}

.balance-lbl-price {
    -fx-font-family: 'Poppins';
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-font-size: 22px;
}

.originalPrice-lbl {
    -fx-font-family: 'Poppins';
    -fx-font-weight: bold;
    -fx-font-size: 18px;
    -fx-text-fill: #a3a3a3;
}

.originalPrice {
       -fx-font-family: 'Poppins';
        -fx-font-weight: bold;
        -fx-font-size: 22px;
        -fx-text-fill: #666666;
}
