@font-face {
    font-family: 'Cerapro';
    src: url('../font/cerapro-bold.otf');
    font-weight: bold;
}
@font-face {
    font-family: 'Cerapro';
    src: url('../font/cerapro-medium.otf');
    font-weight: normal;
}


.payment-form {
    -fx-background-color: #fff;
}

.payment-btn {
    -fx-font-family: 'Cerapro';
    -fx-font-weight: bold;
     -fx-padding: 10px 15px 10px 67px;
    -fx-font-size: 17px;
    -fx-background-color: #e7e4d9;
    -fx-background-radius: 25px;
    -fx-border-radius: 25px;
    -fx-border-color: transparent;
    -fx-text-fill: #000000;
    -fx-border-width: 2px;
}

.payment-troco-background {
    -fx-background-color: #e7e4d9;
    -fx-background-radius: 25px;
    -fx-border-radius: 25px;
}

.payment-total-background {
    -fx-background-color: #93C47D;
    -fx-background-radius: 25px;
    -fx-border-radius: 25px;-p
}

.btn-icon-background {
    -fx-background-color: #c1bdac;
    -fx-background-radius: 50%;
}

.payment-troco-lbl {
    -fx-font-family: 'Cerapro';
    -fx-font-weight: bold;
    -fx-font-size: 38px;
    -fx-text-fill: #000000;

}

.payment-currency-field {
    -fx-font-family: 'Cerapro';
    -fx-font-weight: bold;
    -fx-padding: 10px 15px 10px 62px;
    -fx-font-size: 24px;
    -fx-background-radius: 18px;
    -fx-border-radius: 18px;
    -fx-background-color: #e7e4d9;
    -fx-min-width: 180px;
    -fx-min-height: 55px;
    -fx-border-width: 2px;

}

.price-label {
    -fx-font-family: 'Cerapro';
    -fx-font-weight: bold;
    -fx-font-size: 24px;
    -fx-opacity: 0.85;
}

.payment-currency-field:focused {
  -fx-border-color: #191919;

}

.payment-field-label {
    -fx-font-family: 'Cerapro';
    -fx-font-weight: bold;
    -fx-font-size: 24px;

}