@font-face {
    font-family: 'Poppins';
    src: url('../font/poppins/Poppins-Bold.ttf');
    font-weight: bold;
}

.label {
    -fx-font-family: 'Poppins';
    -fx-font-weight: bold;
    -fx-font-size: 20px;
}

.header {
    -fx-border-width: 0 0 2.0 0px;
    -fx-border-color: #ACACAC;
    -fx-background-color: #d6d6d6;
    -fx-background-radius: 15 15 0 0px;
}

.item {
    -fx-border-width: 0 0 1.5 0px;
    -fx-border-color: #C4C4C4;
    -fx-background-color: #FFF;
}

.item:hover {
    -fx-background-color: #F1F1F1;
}

.item-qtd {
    -fx-padding: 10 3 10 3px;
    -fx-background-color: #F1F1F1;
    -fx-background-radius: 5px;
}
.item-qtd-field {
    -fx-alignment: center;
    -fx-font-family: 'Poppins';
    -fx-font-size: 20px;
    -fx-background-color: #d8d8d8;
    -fx-background-radius: 5px;
    -fx-border-color: transparent;
}

.item-qtd-field:hover {
    -fx-background-color: #a8a8a8;
}

.scroll-bar {
    -fx-background-color: transparent;
}

/* Vertical Scroll Bar */
.scroll-bar:vertical .increment-button,
.scroll-bar:vertical .decrement-button {
    -fx-background-color: #f0f0f0;
}

.scroll-bar:vertical .increment-arrow,
.scroll-bar:vertical .decrement-arrow {
    -fx-background-color: #c0c0c0;
}

.scroll-bar:vertical .thumb {
    -fx-background-color: #8b8b8b;
    -fx-background-insets: 2;
    -fx-background-radius: 5;
}

.scroll-bar:vertical .track {
    -fx-background-color: #e0e0e0;
    -fx-background-insets: 0;
}

/* Horizontal Scroll Bar */
.scroll-bar:horizontal .increment-button,
.scroll-bar:horizontal .decrement-button {
    -fx-background-color: #f0f0f0;
}

.scroll-bar:horizontal .increment-arrow,
.scroll-bar:horizontal .decrement-arrow {
    -fx-background-color: #c0c0c0;
}

.scroll-bar:horizontal .thumb {
    -fx-background-color: #8b8b8b;
    -fx-background-insets: 2;
    -fx-background-radius: 5;
}

.scroll-bar:horizontal .track {
    -fx-background-color: #e0e0e0;
    -fx-background-insets: 0;
}
